USE [master]
GO
/****** Object:  Database [Test_Signaal_Database]    Script Date: 5/17/2018 3:29:12 PM ******/
CREATE DATABASE [Test_Signaal_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test_Signaal_Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2\MSSQL\DATA\Test_Signaal_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_Signaal_Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2\MSSQL\DATA\Test_Signaal_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test_Signaal_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test_Signaal_Database]
GO
USE [Test_Signaal_Database]
GO
/****** Object:  Table [dbo].[SignalenTabel]    Script Date: 5/17/2018 3:29:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignalenTabel](
	[Algemene_Tekst] [nchar](255) NULL,
	[Variable_Tekst] [nchar](255) NULL,
	[Connectie_String] [int] NULL,
	[Eerst_Optreding] [date] NULL,
	[Opgelost] [date] NULL,
	[Huidige_Datum] [date] NULL,
	[Impact_Entiteit] [int] NULL,
	[Impact_Organisatie] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
